.dashboard .controls {
    height: 10rem;
    background-color: #062b55;
}

.dashboard .controls input {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 13px 26px;
    border-radius: 4px;
}